.app-header {
    background-color: #263238;
}

.app-logo{
    color: #fff;
    font-size: 18px;
    padding: 6px 10px 10px 10px;
}

.login-card{
    padding-top: 10px;
    display: flex;
    justify-content:center;
}

.dispNone{
    display: none;
}

.red{
    color:red;
    font-weight: bold;
}

.dispBlock{
    display: block;
}
