.login-card{
    padding-top: 10px;
    display: flex;
    justify-content:center;
}

.dispNone{
    display: none;
}

.red{
    color:red;
    font-weight: bold;
}

.dispBlock{
    display: block;
}

.loginBtnLnk{
  text-decoration: none;
}
