.app-header {
    background-color: #263238;
    height: 32px;
    padding: 8px 0px 8px 8px;
}

.app-container{
    display:flex;
    flex-direction: row;
}

.app-logo{
    color: #fff;
    font-size: 18px;
    margin-right: 60%;
}

.search-container{
    display:flex;
    width:300px;
    border-radius: 4px;
    background-color: #c0c0c0;
    align-items: center;
    height: 32px;
    
}

.search-profile-container{
    display: flex;
    margin-left: 40px;
}

.search-box{
    border-bottom: none;
    padding-left:5px;
}

.profilePic{
    margin-left: 5px;
    height: 35px;
    cursor: pointer;
}
