.app-header {
    background-color: #263238;
    height: 32px;
    padding: 8px 32px 8px 8px;
}

.app-container{
    display:flex;
    flex-direction: row;
}

.app-logo{
    color: #fff;
    font-size: 18px;
    margin-right: 40%;
}

.search-container{
    display:flex;
    width:300px;
    border-radius: 4px;
    background-color: #c0c0c0;
    align-items: center;

    
}


.search-box{
    border-bottom: none;
    padding-left:5px;
}